.image-container {
    height: 250px; /* Устанавливаем фиксированную высоту */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Подгоняет изображение по высоте, обрезая лишнее */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}
main {
    flex: 1;
}
.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    background: linear-gradient(to right, #1a1a1a, #292929) !important;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff !important;
}
footer {
    background: linear-gradient(to right, #1a1a1a, #292929);
    padding: 2rem 0;
    margin-top: 4rem;
}