<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог товаров</title>
</head>
<body>
    <h1>Каталог товаров</h1>
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Цена: {{ product.price }} BYN</p>
                {% if product.image_url %}
                    <img src="{{ product.image_url }}" alt="{{ product.name }}" style="max-width: 300px; height: auto;">
                {% else %}
                    <p>Изображение отсутствует</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
